<div class="jumbotron">
	<div class="container-fluid">
		<h1 class="text-center">Welcome to the EDGE Compound Database</h1>
	</div>
</div>

<div class="container-fluid">
	<h3>Searching:</h3>
	<ul style="list-style: none">
		<h4>Compounds / Targets:</h4>
		<p><%= link_to 'Compound Index', drugs_path %></p>
	</ul>
</div>




<div class="smiles-test">
	<p id="smile">c1ccccc1</p>
</div>