// Place all the styles related to the drugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bulk-search input {
	height: 200px;
	width: 200px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    display: none;
}

.bulk-search {
	.dt-buttons {
		float: right;
		
		.dt-button {
			color: #fff;
			background-color: #337ab7;
			border-color: #2e6da4;
			background-image: none;
			
			&:hover {
				background-color: #286090 !important;
    		border-color: #204d74;
				background-image: none;
			}
		}
	}
}

.full-width {
	width: 100%;
}

.drug-info {
	position: absolute;
	left: 275px;
}

.indent {
	margin-left: 1em;
}

.size-125 {
	font-size: 1.25em;
}

.search-form {
	width: 50%;
	margin-left: 25%;
}

.search-group {
	width:100%;
	
	input {
		height: 2.5em;
		border-radius: 0.5em;
	}
	
	input#search {
		width: 75%;
		border: 2px solid #ddd;
		text-indent: 0.5em;
	}
}

th[data-sorted-direction="descending"] {
	color: red;
}

th[data-sorted-direction="ascending"] {
	color: green;
}

.remove-col {
	color: red;
}

a {
	cursor: pointer;
	
	&:hover { background-color: white !important; }
	&:visited { color: #337ab7 !important }
}




.nav-tabs {
	margin-bottom: 1em !important;
}

.tab-content {
//	border-right: 1px solid #ddd;
//	border-left: 1px solid #ddd;
//	border-bottom: 1px solid #ddd;
//	border-radius: 0 0 .5em .5em;
}

.column-selection {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	height: 10em;
	width: 50em;
}

.toggle-buttons {
	height: 14em;
}

tbody {
	tr {
		td {
			height: 25px;
//			max-width: 50px;
			white-space: nowrap;
		}
	}
}

#drugs {
//	margin-left: 10%;
//	display: inline;
}

//.smiles-image {
//	padding-left: 0;
//	width: 10%;
//	display: inline;
//	position: absolute;
//	margin-left: 0;
//	
//	img {
//		width: 100%;
//	}
//}
